
@font-face {
    font-family: raleway;
    src: url('../font/Raleway-VariableFont_wght.ttf');
}

html {
    line-height:1.5;
}

body {
    font-family: 'raleway';
    margin:0;
    /* hide the horizontal scroll bar and block the view of what is out of view
    overflow-x: hidden;
    */
}

main a, main a:link, main a:visited {
    text-decoration:none;
    color:black;
}

header {
    height:75px;
}

header, main, footer {
    padding:0 2% 0 2%;
}

footer {
    background-color: #F2F2F2;
}


.parent-container-flex {
    display: flex;
    flex-wrap: wrap;
}

li.parent-container-flex {
    justify-content:center;
}


.nav-bar-button {
    display:flex;
    height:100%;
}

a.nav-bar-button {
    align-items:center;
}

.nav-bar {
    margin-left:3rem;
}


.container {
    padding: 1% 1% 1% 1%;
    border-radius:1rem;
    margin-bottom:2rem;
}

.disabled {
    pointer-events: none;
}

h1 {
    font-size:2rem;
}
/*
#page-title h1 {
    margin-bottom:0;    
}

#page-subtitle p {
    margin-top:0;
}
*/
#page-title-subtitle p {
    margin-top:0;
}

#page-title-subtitle h1 {
    margin-bottom:0;    
}

img#logo {
    width:10em;
}

.bottomMargin {
    margin-bottom:5rem;
}

#filters {
    align-items:center;
}

#filter-title {
    padding-right:2rem;
}

.parent-container-flex-nav-signup {
    display:flex;
    align-items: center;
}

.parent-container-flex-nav {
    display:flex;
    justify-content: space-evenly;
}

#nav-menu {
    /* places the menu in the middle of the container */
    display:flex;
    align-items: center;
    flex-grow:2;
    height:100%;
}

.parent-container-flex-nav nounderline {
    height:100%;
}

#nav-menu-item {
    display:flex;
    justify-content:space-between;
}

.nav-menu-item {
    display:flex;
    justify-content:space-evenly;
}


.nounderline a:link, .nounderline a:visited {
    text-decoration: none;
    color:black;

}

.nounderline a:hover {
    text-decoration: none;
    border-top:2px solid #0065FC;
    color:#0065FC;
    overflow: hidden;
}

.signup a {
    text-decoration: none;
    color:#0065FC;
    font-weight: bold;
}

#location {
    margin:0 0 2rem 0;
}

.searchWrapperIcon {
    padding:1rem 1rem;
    background-color: #F2F2F2;
    border-radius:1rem 0 0 1rem;
}

.searchInputText {
    font-size:1.1rem;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    padding-left:1rem;
    color:black;
    font-weight: bold;
}

.searchButton {
    font-size:1.1rem;
    background-color: #0065FC;
    font-weight:bold;
    color:white;
    border:none;
    border-radius:0 1rem 1rem 0;
    padding:0 1.5rem 0 1.5rem;
    cursor: pointer;
}

#searchText {
    order:1;
    display:initial;
}


.fas {
    background:#F2F2F2;
}

.fa-search {
    background-color: #0065FC;
    color:#0065FC;
    order:2;
    display:none;
}
.parent-container-flex-filters {
    font-weight:bold;
    cursor:pointer;
    display:flex;
    align-items: center;
    /*
    justify-content: center;
    */
    margin-right:2rem;
    border:solid 3px #F2F2F2;
    border-radius:2rem;
}

.parent-container-flex-filters:hover {
    color:#0065FC;
}

.filterIcon {
    background:#DEEBFF;
    color:#0065FC;
    padding:1rem 1rem 1rem 1rem;
    border-radius:100%;
    /*  
    width:1em;
    height:1em;
    min-width:2.5em;
    min-height:2.5em;
     */
    margin:-0.2rem;
}

.filterTitle {
    display: flex;
    justify-content:center;
    padding:0 1rem 0 1rem;
    min-width:5em;
}

.filterTitleLong {
    min-width:8em;
}

#result-infos {
    align-items:center;
}

.fa-info {
    color: #0065FC;
    background-color: white;
    
}

/*
#fa-info-circle {
    display: flex;
    align-items: center;
}
*/

#info-circle {
    margin-right:1rem;
    padding:0.75rem 1rem 0.75rem 1rem;
    border:solid 1px #F2F2F2;
    border-radius:50%;

}

.main-container {
    width:100%;
}

.accomodations-mostpop-wrapper-flex  {
    display:flex;
    /* Wrap only if not wanting to leave them on the same row - the most pop container will go on the line under if flex-flow:wrap;
    flex-flow:wrap;
    */
    flex-direction:row;
}

#accomodationsMainContainer {
    margin-right:1rem;
}

.accomodationsMostpopContainer {
    background-color: #F2F2F2;
    border-radius:1rem;
    padding:1rem 1rem 1rem 1rem;
    width: 67%; 
}

.accomodations-containers {
    margin-bottom:2rem;
}

.accomodationsTitle {
    margin-left:1rem;
    padding: 1% 1% 1% 1%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.accomodations {
    border-radius:1rem;
    margin-bottom:2rem;
}

.imageFillAccomodations {
    object-fit:cover;
    border-radius:1rem 0 0 1rem;
}

/*
.rating  {
    margin:1rem;
    */
    /*
    flex-wrap:wrap;
    flex-direction:row;
} 
*/

.mp-rating {
    white-space:nowrap;
}

/* ACCOMODATION & most-popular blocs*/


.mostPopularTitle {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1% 1% 1%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}


.mostPopularIndividualWrapper {
    background-color: white;
    display:flex;
}


.flexContainer {
    flex-direction:row;
}

.MostPopularImgContainer {
    margin-right:1rem;
    align-self:center;
    display: flex;
}

.MostPopularImgContainer img {
    width:120px;
    height:120px;
    align-self:center;
}

.mostPopularName {
    font-weight: bold;
    display:flex;
    break-inside: avoid;

}

.imageFill {
    object-fit:cover;
    border-radius:7% 0 0 7%;
}


#accomodationsResults {
    display:flex;
    flex-wrap: wrap;
}

.accomodationsSingleWrapper {
    padding:0.4rem 0.4rem 0.4rem 0.4rem
    ;
    flex-basis: auto;
    box-shadow:2px 2px 4px #9b9797;
    margin-bottom:1rem;
}


.priceTag {
    font-weight:bold;    
}

.fa-star {
    color:#0065FC;
    background-color: white;
}

.emptyStar {
    color:#F2F2F2;
}

#containerSeparator {
    padding-right:1rem;
    padding-left:1rem;
}

.accomodationsSingleWrapper {
    margin-top:1rem;
    margin-left:1rem;
    margin-right:1rem;
    margin-bottom:1rem;
    flex-grow: 1;
}

.accomodationsImageTitle {
    flex-grow:1;
    overflow:hidden;
    text-align:center;

}

.accomodationsImage img {
    max-width:100%;
    height:auto;
    display:block;
}


.accomodationsIndividualWrapper, .IndividualWrapper {
    background-color: white;
    border-radius:1rem;
    box-shadow:1px 1px 20px rgb(177, 177, 177);

}

.accomodationsIndividualResultsWrappers img {
    width:100%;
    height:120px;
    flex-grow:1;
}

.accomodationsIndividualResultsWrappers {
    margin-bottom:0.5rem;
}

.accomodationsImage {
    border-radius: 1rem 1rem 0 0;
}

#mostPopularMainContainer {
        width: 59%;
        margin-left:1rem;
}

.mostpopularIndividualResultsWrappers {
    display:flex;
}

.mostPopularWrapper {
    padding:1% 1% 1% 1%;
    border-radius:1rem;
    min-width:500px;
}


.mostpopularIndividualResultsWrappersTest {
    display:table;
    height:100vh;
    position:fixed;
}

.mostPop-content {
    display:flex;
    flex-direction:column;
    line-height:2;
}

.mostPopularPrice span {
    font-weight:bold;
}

.mostPopularPrice {
    flex-wrap:nowrap;
    margin-bottom:1rem;
}

.accomodationsImagesPopular {
    justify-items:center;
}

.showMoreLink {
    font-weight: bold;
    font-size:1.25rem;
}


/* ACTIVITIES */

.parent-container-flex-activites-title {
    display:flex;
    flex-direction:column;
}

.parent-container-flex-activites {   
    display:grid;
    grid-template:
        [row-1] 2fr [row-2] 1fr [row-3] 2fr [row-4] /
        [col-1] auto [col-2] auto [col-3] auto [col-4] auto [col-5];
    gap:5rem 2rem;
    margin-top: 2rem;
}

.imageFillActivities {
    object-fit:cover;
    border-radius:1% 1% 0 0;
}

.activitiesIndividualWrapper {
    box-shadow: 1px 1px 20px rgb(177, 177, 177);
    border-radius:1rem 1rem 1rem 1rem;
    height:100%;
}


.activitiesWrapperImageTitle img {
    width: 100%;
    height:100%;
    border-radius: 1rem 1rem 0 0;
}

figure {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    height:100%;
}

figcaption {
    background-color:white;
    border-radius:0 0 1rem 1rem;
    padding:1rem 1rem 1rem 1rem;
    font-size:0.75rem;
    margin-top:-0.5rem;
    box-shadow:1px 1px 20px rgb(177, 177, 177);
}

.activitiesWrapperImageTitle {
    font-weight:bold;
}

#beehive {
    grid-column:col-1 / col-2;
    grid-row:row-1 / row-4;
}

#wellington-cable-car {
    grid-column:col-2 / col-3;
    grid-row:row-1 / row-3;  
}

#historical-center {
    grid-column:col-2 / col-3;
    grid-row:row-3 / row-4;
}

#canoe-pier {
    grid-column:col-3 / col-4;
    grid-row:row-1 / row-4;  
}

#solace-statue {
    grid-column:col-4 / col-5;
    grid-row:row-1 / row-2;  
}

#red-rocks {
    grid-column:col-4 / col-5;
    grid-row:row-2 / row-4;  
}


/* FOOTER */



.parent-container-flex-footer {
    margin:auto;
    display:flex;
    background-color: #F2F2F2;
    justify-content:space-between;
    padding:2rem 2rem 2rem 2rem;
}

.footerWrapperComplete {
    display:flex;
    flex-direction:column;
}


.footerWrapper {
    display:flex;
    flex-direction:column;
}

.footerWrapperContent {
    margin:0.5rem 0;
}




/* Responsive Design For Phones, Tablets, Desktops */ 


@media only screen and (max-width:345px) {
    header {
        height:initial;
    }

    .flexHeaderContainer {
        flex-flow:column;
    }

    #nav-menu {
        flex-flow:column;
    }

    .parent-container-flex-activites {
        display:initial;
    }
}


@media only screen and (min-width:345px) and (max-width:390px) {
    .nounderline a {
        text-decoration: none;
        border-top:none;
        border-bottom:3px solid #DEEBFF;
        color:#0065FC;
        overflow: hidden;
    }

    .nounderline a:hover {
        text-decoration: none;
        border-top:none;
        border-bottom:3px solid #0065FC;
        color:#0065FC;
        overflow: hidden;
    }
}


@media only screen and (min-width:390px) and (max-width:600px) {
    /*For phones little large */
    
    body {
        background-color:white;
        min-width:320px;
    }

    header {
        height: 75px;
    }

    .parent-container-flex-nav-signup {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }
    
    .nounderline a:hover {
        text-decoration: none;
        border-top:none;
        border-bottom:3px solid #0065FC;
        color:#0065FC;
        overflow: hidden;
    }

    .nounderline a {
        text-decoration: none;
        border-top:none;
        border-bottom:3px solid #DEEBFF;
        color:#0065FC;
        overflow: hidden;
    }

    .nav-bar-button {
        margin-left:initial;
        flex-grow:2;
     }

    .nav-bar {
        order:1;
        justify-content: space-evenly;
        padding:1rem 0 1rem 0;
    }

    #logo, #signupMenu {
        order:1;
        width: 50%;
    }

    #signupMenu {
        flex-grow: 1;
        text-align: center;
    }

    #nav-menu {
        order:2;
        justify-content:space-between;
        padding:1rem 0 1rem 0;
    }



    .bottomMargin {
        margin-bottom:2rem;
    }

    .searchInputText {
        margin-right:-1rem;
    }

    .searchButton {
        display:flex;
        align-items: center;
        border-radius: 1rem 1rem 1rem 1rem;
        cursor: pointer;
    }

    #searchText {
        order:2;
        font-size:0.001rem;
        display:none;
    }

    .fa-search {
        background-color: #0065FC;
        color:white;
        order:1;
        display:initial;
    }

    #result-infos {
        flex-wrap:initial;
    }

    .container {
        padding:1% 1% 1% 1%;
    }


    #accomodationsMainContainer {
        background-color:initial;
        margin-left:initial;
        margin-right:initial;
        order:2;
    }

    .accomodationsTitle {
        margin-left:initial;
        padding: 1% 1% 1% 1%;
        border-radius: 1rem;
        margin-bottom: initial;
    }

    #mostpopularWrapper {
        display:flex;
        flex-flow:wrap;
        padding-left:2rem;
        min-width:400px;
    }

    .mostPopularTitle {
        margin-bottom:initial;
    }

    .accomodations-mostpop-wrapper-flex {
        display:flex;
        flex-direction: column;
    }

    .mostpopularIndividualResultsWrappers {
        width:100%;
    }

    .container-background-phone {
        background:white;
    }

    .accomodationsMostpopContainer {
        width:initial;
        padding:initial;
    }

    .accomodationsSingleWrapper {
        margin-left:0;
        margin-right:0;
    }

    .accomodationsWrapper figure {
        margin:0.45rem 0.2rem 0 0.2rem;
    }

    .accomodationsWrapper {
        flex-wrap:wrap;
        border-radius:2rem;
        padding:initial;
    }

    .accomodationsIndividualResultsWrappers {
        text-align:initial;        margin-left:initial;
        }
        

    .accomodationsIndividualResultsWrappers img {
        justify-items: center;
        width:100%;
    }

    #accomodationsResults {
        flex-wrap:nowrap;
        flex-direction:column;
    }

    .accomodationsName, .nightPrice, .rating {
        margin-left:1rem;
        }
        

    #mostPopularMainContainer {
        border-radius:initial;
        margin:initial;
        width:initial;
        order:1;
    }

    .parent-container-flex-activites, .parent-container-flex-activites-title {
        display:initial;
    }

    .activitiesIndividualWrapper {
        margin-bottom:1rem;
        box-shadow: 1px 1px 20px rgb(177, 177, 177);
        border-radius:1rem 1rem 1rem 1rem;
    }

    .activitiesWrapperImageTitle img {
        width: 100%;
        border-radius:1rem 1rem 0 0;
    }


    figure {
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        border-radius:0 0 1rem 1rem;
    }

    figcaption {
        margin-top:-0.4rem;
        background-color:white;
        border-radius:0 0 1rem 1rem;
        padding:1rem 1rem 1rem 1rem;
    }

    .parent-container-flex-footer {
        flex-direction:column;
    }


    .footerWrapperComplete {
        margin-bottom:1rem;
    }
}


@media only screen and (min-width:600px) and (max-width:950px) {    
    #nav-menu {
        height: 100%;
    }

    .bottomMargin {
        margin-bottom:2rem;
    }

    .parent-container-flex-filters {
        margin-right:1rem;
    }

    #mostpopularWrapper {
        display:flex;
        flex-flow:wrap;
        padding-left:2rem;
        min-width:400px;
    }

    .mostpopularIndividualResultsWrappers {
        width:100%;
    }

    .container-background-phone {
        background:white;
    }

    #accomodationsMainContainer {
        margin-right:initial;
    }

    .accomodationsMostpopContainer {
        width:initial;
    }

    .accomodations-mostpop-wrapper-flex {
        display:flex;
        flex-direction:column;
    }

    .accomodationsResults {
        flex-direction:row;
    }

    .accomodationsSingleWrapper {
        margin-left:1rem;
        margin-right:1rem;
    }

    .accomodationsWrapper figure {
        margin:0.45rem 0.2rem 0 0.2rem;
    }

    .accomodationsIndividualResultsWrappers img {
        width:100%;
    }

    .accomodationsImageTitle {
        text-align:center;
    }
    

    .showMoreContainer {
        padding-bottom:1rem;
    }

    #mostPopularMainContainer {
        width:initial;
        margin-left:initial;
    }

    .parent-container-flex-activites {
        display:initial;
    }
        

    .activitiesWrapperImageTitle {
        display:flex;
        flex-flow:wrap;
        min-width:400px;
    }

    figcaption {
        width:100%;
    }
}

@media only screen and (min-width:950px) and (max-width:1405px) {
    #mostPopularMainContainer {
        width: 55%;
    }

    .accomodationsIndividualResultsWrappers img {
        width:100%;
    }

    .accomodations-mostpop-wrapper-flex {
        flex-direction:row;
    } 

    figcaption {
        margin-top: -0.5rem;
        border-radius:0 0 1rem 1rem;
    }

}

@media only screen and (min-width:1405px) and (max-width:1670px) {
    .mostPopularIndividualWrapper.container {
        margin-bottom: 0rem;
    }
    
    .accomodationsMostpopContainer {
        width:initial;
    }

    #mostPopularMainContainer {
        width:59%;
    }

    #mostpop-container-flex {
        display: flex;
        flex-direction: column;
        height: 75%;
        justify-content: space-evenly;
    }
}




@media only screen and (min-width:1670px) and (max-width:1900px) {
    body {
        background-color:lightgreen;
    }

    #accomodationsResults {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
    }
        

    #mostPopularMainContainer {
        width: 45%;
        margin-left:0.25rem;
    }

    .accomodationsSingleWrapper {
        flex-grow:0;
    }
    
    .IndividualWrapper {
        flex-grow:0;
    }

    .accomodationsSingleWrapper {
        flex-grow:0;
    }

    .IndividualWrapper {
        flex-grow:0;
    }
    
    .accomodationsIndividualResultsWrappers {
        width:310px;
    }
    
    .accomodationsIndividualResultsWrappers img {
        height:120px;
        align-self: center;
    }

    .accomodationsMostpopContainer {
        width:initial;
    }

    #mostPopularMainContainer {
        width:55%;
    }

}


@media only screen and (min-width:1900px) {
    body {
        background-color:lightblue;
    }

    #accomodationsResults {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
        

    #mostPopularMainContainer {
        width: 45%;
    }

    .accomodationsSingleWrapper {
        flex-grow:0;
    }
    
    .IndividualWrapper {
        flex-grow:0;
    }
    
    .accomodationsIndividualResultsWrappers img {
        width:410px;
        height:120px;
        align-self: center;
    }

    .accomodationsMostpopContainer {
        width:initial;
    }

    #mostPopularMainContainer {
        width:35%;
    }
}